.apartmentDetailsContainer {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.apartmentTitle {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.apartmentInfo p {
    margin: 10px 0;
    color: #666;
    line-height: 1.6;
}

.checkmarkContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.greenCheckmark {
    color: green;
}

.redCheckmark {
    color: red;
}